.tinput {
  padding: 10px;
  width: 250px;
  outline: none;
  border: 1px solid;
}

.tinput:focus {
  animation: round 1s forwards;
  border: 3px solid Lavender;
}

@keyframes round {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 30px;
  }
}

.tinput:disabled {
    background-color: var(--lightgreen);
    border-color: var(--darkseagreen);
}

.tinput:invalid {
    border-color: var(--red);
    box-shadow: 0 0 5px var(--red);
}